<aside class="menu">
        <p class="menu-label">
          Analytics
        </p>
        <ul class="menu-list">
          <!-- <li><a href="/admin/orders" class="<% if(page=='orders'){ %>is-active<% } %> ">Active Orders</a></li> -->
          <li><a href="/admin/news" class="<% if(page=='news'){ %>is-active<% } %> ">news</a></li>
        </ul>
        <p class="menu-label">
            Videos
        </p>
        <ul class="menu-list">
        <li><a href="/admin/manage" class="<% if(page=='manage'){ %>is-active<% } %> ">Manage</a></li>
        <li><a href="/admin/manage-video" class="<% if(page=='manage-video'){ %>is-active<% } %> ">Manage Videos</a></li>
        <li><a href="/admin/new" class="<% if(page=='new'){ %>is-active<% } %> ">Add new</a></li>
        </ul>

        <p class="menu-label">
          Users
      </p>
      <ul class="menu-list">
      <li><a href="/users/user-list" class="<% if(page=='userlist'){ %>is-active<% } %> ">Manage</a></li>
      <li><a href="/admin/adduser" class="<% if(page=='adduser'){ %>is-active<% } %> ">Add new</a></li>
      </ul>
</aside>